extend ../layout

block content
	.container
		.row
			each item in movies
				.col-md-2.col-sm-3
					.picture
						a(href = "/movie/#{item._id}")
							if (item.poster)
								img.poster(src = "#{item.poster}", alt = "#{item.title}")
							else
								img.poster(src = "/image/art2.jpg", alt = "#{item.title}")
					.caption
						h5(align = "center") #{item.title}
						p(align = "center"): a.btn.btn-primary(href = "/movie/#{item._id}", role = "button")  Play
		.pagenum
			ul.pagination
				-if(currentPage > 1){
					li
						a(href = "/index/result/#{currentPage-1}", aria-label = "Previous")
							span(aria-hidden = "true") &laquo;
				-}
				-else {
					li
						a(href = "/index/result/#{currentPage}", aria-label = "Previous")
							span(aria-hidden = "true") &laquo;
				-}

				-for(var i = 1; i <= totalPage; i++){
					-if(currentPage === i){
						li.active
							a(href = "/index/result/#{i}") #{i}
					-}
					-else {
						li
							a(href = "/index/result/#{i}") #{i}
					-}
				-}

				-if(currentPage < totalPage){
					li
						a(href = "/index/result/#{currentPage+1}", aria-label = "Next")
							span(aria-hidden = "true") &raquo;
				-}
				-else {
					li
						a(href = "/index/result/#{currentPage}", aria-label = "Next")
							span(aria-hidden = "true") &raquo;
				-}
