extend ../layout

block content
	.container
		.row
			table.table.table-hover.table-bordered
				thread
					tr
						th 电影名字
						th 导演
						th 国家
						th 上映年份
						th 录入时间
						th 主题
						th 观看
						th 更新
						th 删除
					tbody
						each item in movies
							tr(class = "item-id-#{item._id}")
								td #{item.title}
								td #{item.doctor}
								td #{item.country}
								td #{item.year}
								td #{moment(item.meta.updateAt).format('MM/DD/YYYY')}
								//-td #{item.meta.updateAt}
								td #{item.theme}
								td: a(target = '_blank',href = "/movie/#{item._id}") 观看
								td: a(href = "/admin/movie/update/#{item._id}", data-id = "#{item._id}",id = "update") 更新
								td
									a.btn.btn-danger.del.del_movie(type = "button", data-id = "#{item._id}", data-type = "movie") 删除
	.pagenum
		ul.pagination
			-if(currentPage > 1){
				li
					a(href = "/admin/movie/list?id=#{currentPage-1}", aria-label = "Previous")
						span(aria-hidden = "true") &laquo;
			-}
			-else {
				li
					a(href = "/admin/movie/list?id=#{currentPage}", aria-label = "Previous")
						span(aria-hidden = "true") &laquo;
			-}

			-for(var i = 1; i <= totalPage; i++){
				-if(currentPage === i){
					li.active
						a(href = "/admin/movie/list?id=#{i}") #{i}
				-}
				-else {
					li
						a(href = "/admin/movie/list?id=#{i}") #{i}
				-}
			-}

			-if(currentPage < totalPage){
				li
					a(href = "/admin/movie/list?id=#{currentPage+1}", aria-label = "Next")
						span(aria-hidden = "true") &raquo;
			-}
			-else {
				li
					a(href = "/admin/movie/list?id=#{currentPage}", aria-label = "Next")
						span(aria-hidden = "true") &raquo;
			-}

