extend ../layout

block content
	.container
		.row
			table.table.table-hover.table-bordered
				thread
					tr
						th 用户名
						th 身份(>10具有admin权限)
						th 创建时间
						th 删除
					tbody
						each item in users
							tr(class = "item-id-#{item._id}")
								td #{item.name}
								td #{item.role}
								td #{moment(item.meta.updateAt).format('MM/DD/YYYY')}
								td
									a.btn.btn-danger.del.glyphicon.glyphicon-trash(type = "button", data-id = "#{item._id}", data-type = "user")
	.pagenum
		ul.pagination
			-if(currentPage > 1){
				li
					a(href = "/admin/user/list?id=#{currentPage-1}", aria-label = "Previous")
						span(aria-hidden = "true") &laquo;
			-}
			-else {
				li
					a(href = "/admin/user/list?id=#{currentPage}", aria-label = "Previous")
						span(aria-hidden = "true") &laquo;
			-}

			-for(var i = 1; i <= totalPage; i++){
				-if(currentPage === i){
					li.active
						a(href = "/admin/user/list?id=#{i}") #{i}
				-}
				-else {
					li
						a(href = "/admin/user/list?id=#{i}") #{i}
				-}
			-}

			-if(currentPage < totalPage){
				li
					a(href = "/admin/user/list?id=#{currentPage+1}", aria-label = "Next")
						span(aria-hidden = "true") &raquo;
			-}
			-else {
				li
					a(href = "/admin/user/list?id=#{currentPage}", aria-label = "Next")
						span(aria-hidden = "true") &raquo;
			-}
