extend ../layout

block content
	.container
		.row
			form.form-horizontal(method = "post", action="/admin/movie/new", role = "form")
				input(type = "hidden", name = "movie[_id]",value = "#{movie._id}")
				.form-group
					label.col-sm-2.control-label(for = "inputTitle") 电影名字
					.col-sm-9
						input#inputTitle.form-control(type = "text", name = "movie[title]",value = "#{movie.title}")
				.form-group
					label.col-sm-2.control-label(for = "inputDoctor") 导演
					.col-sm-9
						input#inputDoctor.form-control(type = "text", name = "movie[doctor]",value = "#{movie.doctor}")
				.form-group
					label.col-sm-2.control-label(for = "inputCountry") 国家
					.col-sm-9
						input#inputCountry.form-control(type = "text", name = "movie[country]",value = "#{movie.country}")
				.form-group
					label.col-sm-2.control-label(for = "inputLanguage") 语言
					.col-sm-9
						input#inputLanguage.form-control(type = "text", name = "movie[language]",value = "#{movie.language}")
				.form-group
					label.col-sm-2.control-label(for = "inputPoster") 海报地址
					.col-sm-9
						input#inputPoster.form-control(type = "text", name = "movie[poster]",value = "#{movie.poster}")
				.form-group
					label.col-sm-2.control-label(for = "inputFlash") 片源地址
					.col-sm-9
						input#inputFlash.form-control(type = "text", name = "movie[flash]",value = "#{movie.flash}")
				.form-group
					label.col-sm-2.control-label(for = "inputTheme") 电影主题
					.col-sm-9
						select.form-control(name = "movie[theme]", value = "#{movie.theme}")
							option 科幻
							option 喜剧
							option 恐怖
							option 娱乐
							option 爱情
				.form-group
					label.col-sm-2.control-label(for = "inputYear") 上映年份
					.col-sm-9
						input#inputYaer.form-control(type = "text", name = "movie[year]",value = "#{movie.year}")
				.form-group
					label.col-sm-2.control-label(for = "inputSummary") 电影简介
					.col-sm-9
						textarea#inputSummary.form-control(type = "text", name = "movie[summary]",value = "#{movie.summary}")
				.form-group
					.col-sm-offset-2.col-sm-10
					button.btn.btn-default(type = "submit") 录入